.connectcont{
    position: relative;
    margin: 50px 0  30px;
    &__{
        &inner{
            margin: 0 auto;
            padding: 50px 0;
        }
        &right{
            position: absolute;
            right: 0;
            bottom: 0;
            height: 115%;
        }
        &left{
            width: 50%;
        }
        &heading{
            width: 50%;
            font-size: 54px;
            color: $text--white;
            font-weight: 100;
            line-height: 1.2em;
            padding: 30px 0px;
            font-family: $font--latoregular;
        }
        &desc{
            font-size: 24px;
            font-weight: 200;
            color: $text--white;
            line-height: 1.5em;
            padding-bottom: 30px;
            font-family: $font--latoregular;
            width: 60%;
        }
        &btn{
            padding: 12px 30px;
            border: 1px solid #e41f92;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 30px;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            font-family: $font--latoregular;
            border-radius: 0;
        }
        &rtimg{
            vertical-align: bottom;
            height: 100%;
        }
    }
}