.trendcard{
    padding: 30px 0;
    &__{
        &content{
            margin: 0 auto;
        }
        &heading{
            padding-bottom: 50px;
            position: relative;
            font-family: $font--latoLight;
            font-weight: 400;
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 10px;
            &::after {
                content: "";
                width: 90px;
                height: 1px;
                background: #c6c6c6;
                bottom: 34px;
                left: 0;
                position: absolute;
            }
            &.border-{
                &top--{
                    &left{
                        &::after{
                            top: -15px;
                            left: 0;
                            bottom: auto;
                        }
                    }
                    &right{
                        &::after{
                            top: -15px;
                            right: 0;
                            bottom: auto;
                            left: auto;
                        }
                    }
                }
                &bot--{
                    &left{
                        &::after{
                            left: 0;
                            bottom: 34px;
                        }
                    }
                    &right{
                        &::after{
                            right: 0;
                            bottom: 34px;
                            left: auto;
                        }
                    }
                }
            }
        }
        &cardlist{
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &imgcont{
            position: relative;
        }
        &label{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            color: $text--white;
            background: #2d2e30;
            font-size: 16px;
            font-family: $font--latoLight;
            margin: 0;
        }
        &img{
            vertical-align: bottom;
        }
        &list{
            padding-bottom: 30px;
            position: relative;
            webkit-box-shadow: 2px 11px 30px -17px rgba(0,0,0,0.23);
            -moz-box-shadow: 2px 11px 30px -17px rgba(0,0,0,0.23);
            box-shadow: 2px 11px 30px -17px rgba(0,0,0,0.23);
            flex-basis: 30%;
            margin-bottom: 30px;
            &::after{
                position: absolute;
                content: "";
                border: solid 15px;
                border-color: transparent #06d1df #06d1df transparent;
                bottom: 0;
                right: 0;
            }
        }
        &imgcont{
            margin-bottom: 30px;
        }
        &desc, &date{
            font-family: $font--latoregular;
            font-size: 16px;
            line-height: 1.5em;
            margin: 0;
            padding: 0 30px;
        }
        &insightlabel, &bigdesc, &readmorelink{
            display: none;
        }
    }
    &--{
        &secondlayout{
            .trendcard__list{
                padding-bottom: 0;
                &::after{
                    display: none
                }
                &:nth-child(1), &:nth-child(4), &:nth-child(5){
                    flex-basis: 68%!important;
                    display: flex;
                    overflow: hidden;
                    .trendcard__bigdesc{
                        display: block;
                    }
                    .trendcard__imgcont{
                        flex-basis: 50%;
                        overflow: hidden;
                    }
                    .trendcard__img{
                        min-height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                    .trendcard__infomsg{
                        flex-basis: 50%;
                        overflow: hidden;
                    }
                }
            }
            .trendcard__imgcont{
                margin-bottom: 0;
            }
            .trendcard__label{
                display: none;
            }
            .trendcard__infomsg{
                padding: 38px 74px 38px 40px;
            }
            .trendcard__insightlabel{
                padding: 10px;
                color: $text--white;
                font-size: 16px;
                font-family: $font--latoLight;
                margin: 0;
                display: block;
                background: rgb(38, 17, 56);
                display: inline-block;
            }
            .trendcard__desc, .trendcard__date{
                padding: 0;
                margin-top: 20px;
            }
            .trendcard__readmorelink{
                display: block;
                position: absolute;
                bottom: 20px;
                right: 20px;
                text-decoration: none;
            }
            .trendcard__bigdesc{
                color: #2d2e30;
                font-size: 14px;
                font-family: $font--latoLight;
                margin: 10px 0 0;
            }
        }
    }
}