// Start: dropdown list
.dropdownlist {
  position: relative;
  z-index: 0;
  &__ {
    &title {
      cursor: pointer;
      border: 1px solid $app--head;
      background-color: $app--head;
      border-radius: 2px;
      font-size: 14px;
      width: 290px;
      color: $text--white;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;
      margin-left: 86px;
      @include media-breakpoint-down(sm) {
        margin-left: 0px;
      }
    }
    &downarrow {
      position: absolute;
      width: 0;
      right: 13px;
      top: 20px;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px dashed;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      color: $text--white;
    }
  }
}
// End: dropdown list
