.questioncont{
    padding: 50px 0;
    &__{
        &inner{
            margin: 0 auto;
        }
        &left, &right{
            width: 50%;
            float: left;
            @include media-breakpoint-down(md) {
                float: none;
                width: 100%;
            }
        }
        &heading{
            width: 80%;
            font-size: 54px;
            color: $text--white;
            font-weight: 100;
            line-height: 1.2em;
            margin: 30px 0;
            font-family: $font--latoregular;
            &:before {
                content: "";
                height: 1px;
                display: block;
                background-color: #a39382;
                margin-bottom: 30px;
                width: 70px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 34px;
                width: 100%;
            }
        }
        &desc{
            font-size: 24px;
            color: $text--white;
            line-height: 1.5em;
            font-family: $font--latoregular;
            width: 80%;
            margin: 0 0 20px;
            @include media-breakpoint-down(sm) {
                font-size: 20px;
            }
        }
        &btn{
            padding: 12px 30px;
            border: 1px solid #e41f92;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 30px;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            font-family: $font--latoregular;
            border-radius: 0;
            @include media-breakpoint-down(sm) {
                padding: 10px 15px !important;
                font-size: 15px !important;
            }
            
        }
        &calllink{
            font-size: 16px;
            color: $text--white;
            line-height: 1.5em;
        }
    }
}
.btn{
    &--link{
        align-items: center!important;
        color: #fff!important;
        display: flex!important;
        font-size: 1rem!important;
        margin: 20px 0!important;
        background: transparent!important;
        padding-left: 0!important;
        &:after {
            background-image: url(https://www.vistra.com/themes/custom/vistra/src/images/icons/arrow-right-white.svg)!important;
            background-repeat: no-repeat!important;
            background-size: 16px 16px!important;
            background-size: contain!important;
            content: ""!important;
            display: inline-block!important;
            height: 16px!important;
            margin-left: 10px!important;
            margin-right: 10px!important;
            width: 16px!important;
            transform: skew(0deg)!important;
            position: static!important;
        }
    }
}